@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply h-screen;
}

body {
    @apply flex flex-col min-h-full bg-screenidle-link text-white;
}

/* Navbar */

.nav-section {
    /* @apply border-b border-slate-400; */
    @apply relative border-b-0;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(to right, #98FB98, #8b5cf6, #FF69B4);
        z-index: 10;
    }
}

.nav-container {
    @apply max-w-md p-4 mx-auto flex flex-row items-center justify-between md:max-w-screen-lg md:px-8;
}

.nav-brand {
    @apply text-xl md:text-2xl
}

.nav-links {
    @apply flex flex-row space-x-4 items-end;
}

.nav-link {
    @apply inline-flex flex-row items-center space-x-2;
}

.logo {
    @apply flex flex-row items-center space-x-2;
    /* background-color: #fff;
    background: linear-gradient(to right, #98FB98,#FF69B4);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */
}

/* Header */

.header-section {}

.header-container {
    @apply max-w-md p-4 mx-auto md:max-w-screen-lg md:px-8;
}

.header-title {
    @apply text-2xl w-full text-center md:text-left md:text-3xl;
}

/* Footer */

.footer-section {
    @apply relative border-t-0;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 100vw;
        /* Full viewport width */
        height: 3px;
        background: linear-gradient(to right, #98FB98, #8b5cf6, #FF69B4);
        transform: translateX(-50%);
        z-index: 10;
        /* Center the 100vw element */
    }
}

.footer-container {
    @apply max-w-md p-4 mx-auto flex flex-row items-center justify-center md:justify-start md:max-w-screen-lg md:px-8;
}

/* Homepage */

.home-section {
    @apply grow;
}

.home-container {
    @apply container mx-auto max-w-screen-lg p-6 py-20 space-y-8 md:space-y-16 flex flex-col items-center justify-evenly;
}

.home-header {
    @apply relative text-4xl font-bold md:text-8xl space-x-1 border-0 p-8 rounded-lg;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 3px;
        /* ✅ thickness of border */
        border-radius: inherit;
        background: linear-gradient(to right, #98FB98, #8b5cf6, #FF69B4);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }
}

.home-cta {
    @apply text-lg bg-screenidle-success text-screenidle-link p-4 rounded-lg flex flex-row space-x-2 items-center justify-center;
}

.pixelated-image-canvas {
    max-height: 39vh;
    max-width: 26vh;
}

@media (min-width: 768px) {
    .pixelated-image-canvas {
        max-height: 50vh;
        max-width: 40vh;
    }
}

.keyboard-row {
    @apply flex justify-center w-full mt-0 mb-2 mx-auto touch-manipulation
}

.keyboard-row button {
    @apply font-bold h-12 cursor-pointer bg-screenidle-warning text-screenidle-link flex-grow uppercase mr-1 rounded-md select-none disabled:bg-slate-300 text-sm xs:text-base md:text-lg
}

.keyboard-spacer {
    @apply font-bold h-12 cursor-pointer flex-grow uppercase mr-1 rounded-md select-none disabled:bg-slate-300 text-sm xs:text-base md:text-lg
}

.privacy {
    max-width: 65ch;
    @apply space-y-4;
}

.privacy h2 {
    @apply text-2xl font-bold;
}

.privacy h3 {
    @apply text-xl font-bold;
}

.privacy h4 {
    @apply text-lg font-bold;
}

.privacy a {
    @apply underline;
}

.privacy ul {
    @apply space-y-4 list-disc list-inside;
}

.previous-answers {

    @apply mt-2;

    & > h2 {
        @apply py-2 font-bold text-lg;
    }

    .previous-answers-list {
        @apply space-y-2;

        & > li {
            @apply flex items-center justify-between p-3 bg-[color:rgb(200,100,255,0.125)] border-0 rounded-lg shadow-sm;
        }
    }
}